/**************************************************************************** 
    Declaracion de variables necesaria para los colores
    Config de elementos comunes
*****************************************************************************/

/* Declaracion de variables necesaria */

// Paleta de colores
$colorHead        :#444444;
$colorCopy        :#555555;
$colorLink        :#006ee3;
$colorBlanco      :#ffffff;
/*botones*/
$colorNormal      :#3f8ec5;
$colorNormal2     :#83b629;
$colorError       :#e01d1d;