@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****************************************************************************
	978 Grid Layout (Responisive + BreakPoints) eperez.net
	v1.0.3
	Last Updated: 20-08-2014
	Author: Eduardo Perez - http://eperez.net
*****************************************************************************/
/*************************************************************************
 * 1. Desktop
 **************************************************************************/
.layout {
  width: 1100px;
  margin: 0px auto;
  position: relative; }

.fluid-layout {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  height: 1%; }

.layout:before, .layout:after, .fluid-layout:before, .fluid-layout:after, .row:before, .row:after {
  display: table;
  content: " "; }

div.col1, div.col2, div.col3, div.col4, div.col5, div.col6, div.col7, div.col8, div.col9, div.col10, div.col11, div.col12 {
  float: left;
  margin-left: 1.819%; }

div.col1:first-child, div.col2:first-child, div.col3:first-child, div.col4:first-child, div.col5:first-child, div.col6:first-child, div.col7:first-child, div.col8:first-child, div.col9:first-child, div.col10:first-child, div.col11:first-child, div.col12:first-child {
  margin-left: 0px; }

div.col1 {
  width: 6.66592%; }

div.col2 {
  width: 15.15083%; }

div.col3 {
  width: 23.63575%; }

div.col4 {
  width: 32.12067%; }

div.col5 {
  width: 40.60558%; }

div.col6 {
  width: 49.0905%; }

div.col7 {
  width: 57.57542%; }

div.col8 {
  width: 66.06033%; }

div.col9 {
  width: 74.54525%; }

div.col10 {
  width: 83.03017%; }

div.col11 {
  width: 91.51508%; }

div.col12 {
  width: 100%; }

/*************************************************************************
 * 2. Tables (Min width res 768px)
 **************************************************************************/
@media screen and (min-width: 801px) and (max-width: 1024px) {
  div.layout {
    width: 800px; } }
/*************************************************************************
 * 3. SmartPhone (WAP3)
 **************************************************************************/
@media screen and (max-width: 800px) {
  div.layout {
    width: 100%; }

  div.col1, div.col2, div.col3, div.col4, div.col5, div.col6, div.col7, div.col8, div.col9, div.col10, div.col11, div.col12 {
    float: none;
    margin: 0;
    width: 100%; } }
@font-face {
  font-family: 'chunkfiveroman';
  src: url("../fonts/chunkfive-webfont.eot");
  src: url("../fonts/chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/chunkfive-webfont.woff") format("woff"), url("../fonts/chunkfive-webfont.ttf") format("truetype"), url("../fonts/chunkfive-webfont.svg#chunkfiveroman") format("svg");
  font-weight: normal;
  font-style: normal; }
/* ==========================================================================
/* Grupo de Mixin ÔÇö Eduardo Perez eperez.net
   ========================================================================== */
/*
$desde= Color inicial
$hasta= Color final
$horientacion= si es vertical u horizontal
$inicio= top o left
*/
/**************************************************************************** 
    Declaracion de variables necesaria para los colores
    Config de elementos comunes
*****************************************************************************/
/* Declaracion de variables necesaria */
/*botones*/
/**************************************************************************** 
    Declaracion de variables necesaria
    Config de elementos comunes
*****************************************************************************/
/* Declaracion de variables necesaria */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

:focus {
  outline: none; }

body {
  color: #555555;
  font-family: "Open Sans", sans-serif, arial;
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

.contenido {
  margin-bottom: 30px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

/*********************************************************
Manejo de Imagenes
*********************************************************/
.imgWrapper {
  height: 250px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .imgWrapper img {
    height: 250px;
    width: auto;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    z-index: 1; }

.imgWrapperBig {
  height: 440px;
  position: relative;
  overflow: hidden; }
  .imgWrapperBig img {
    height: auto;
    max-width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    z-index: 1; }

/*********************************************************
Code container
*********************************************************/
code {
  background: #f7f7f7;
  border: #dddddd solid 1px;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

/**************************************************************************** 
    Declaracion de variables necesaria para las fuentes y letras
    Config de elementos comunes
*****************************************************************************/
h1, h2, h3, h4, h5 {
  color: #444444;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -1px; }

h1 {
  font-size: 4.5em; }

h2 {
  font-size: 3.4em; }

h3 {
  font-size: 2.4em;
  letter-spacing: 0; }

h4 {
  font-size: 2em;
  letter-spacing: 0;
  font-weight: 500; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.3em;
  font-weight: 500; }

h1 {
  margin-bottom: 30px; }

h2 {
  margin-bottom: 20px; }

h3, h4, h5, h6 {
  margin-bottom: 10px; }

p {
  font-size: 1.6em;
  line-height: 20px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: 400; }

a {
  color: #006ee3;
  text-decoration: none;
  font-weight: bold; }

p {
  margin: 0px 0px 20px;
  line-height: 1.52381em;
  text-rendering: optimizelegibility; }

strong {
  font-weight: bold; }

/**************************************************************************** 
    Declaracion de variables necesaria para formularios
    Config de elementos comunes
*****************************************************************************/
/********************************************************
Botones
********************************************************/
.btn {
  background: #3f8ec5;
  border: none;
  color: #ffffff;
  display: block;
  font-weight: normal;
  max-width: 200px;
  margin-bottom: 10px;
  padding: 8px;
  text-align: center;
  text-transform: none;
  transition: all 0.3s ease 0s;
  width: 100%;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .btn:hover {
    background: #2e6d99; }

.btn.normal2 {
  background: #83b629; }
  .btn.normal2:hover {
    background: #5f841e; }

.btn.error {
  background: #e01d1d; }
  .btn.error:hover {
    background: #aa1616; }

/********************************************************
Componentes de formularios
********************************************************/
.filaForm {
  margin-bottom: 10px; }
  .filaForm label {
    display: block;
    margin-bottom: 5px; }
  .filaForm input[type="text"], .filaForm input[type="password"] {
    border: #c4c4c4 solid 1px;
    padding: 8px 5%;
    width: 89%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .filaForm .select {
    background: white url(../img/icons/icon-arrow-down.png) 98% center no-repeat;
    border: #c4c4c4 solid 1px;
    width: 99%;
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .filaForm .select select {
      appearance: none;
      background: transparent;
      border: none;
      padding: 7px 5%;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none; }

/****************************************************************************
	Header.scss
	Se ubican los estilos de la cabeza de lsitio web
*****************************************************************************/
.header-container {
  margin-top: 30px;
  margin-bottom: 30px; }

/**************************************************************************
Configuracion para los Breakpoints
**************************************************************************/
/*******************TABLETS***********************************************/
/*******************SMARTPHONES******************************************/
/****************************************************************************
	footer.scss
	Se ubican los estilos del pie de p├ígina del sitio web
*****************************************************************************/
/**************************************************************************
Configuracion para los Breakpoints
**************************************************************************/
/*******************SMARTPHONES******************************************/

/*# sourceMappingURL=screen.css.map */
